.home {

    &__container {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
        height: 100%;

        .home__logo {
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            .pronunciation {
                opacity: 0;
                color: var(--gray);
            }
        }
    }
}