footer {
    display: flex;
    position: absolute;
    z-index: 1336;
    justify-content: space-between;
    padding: 30px 30px 30px 30px;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid var(--black);

    h2, a {
        font-size: 16px;
        color: var(--black);
        font-variation-settings: "wght" 500;

        b {
            font-variation-settings: "wght" 800;
        }
    }

    a {
        transition: 0.3s var(--cubicEasing) all;
        text-decoration: none;
        position: relative;
        
        &:hover {
            color: var(--red);

            &::after {
                width: 100%;
            }
        }

        &::after {
            transition: 0.3s var(--cubicEasing) all;
            left: 0px;
            bottom: 2px;
            width: 0%;
            height: 2px;
            content: "";
            background-color: var(--red);
            display: block;
            position: absolute;
        }
    }
}