.nav {
    position: absolute;
    padding: 30px 30px 30px 30px;
    width: 100%;
    z-index: 1339;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--black);

    h1 {
        font-variation-settings: "wght" 500;
        color: var(--black);
        font-size: 14px;
        letter-spacing: 0.4px;
        transition: 0.3s var(--cubicEasing) all;

        &:hover {
            font-variation-settings: "wght" 800;
        }
    }

    .menu {    
        z-index: 1340;    

        &__burger {
            margin: -30px;
            border-left: 1px solid var(--black);
            padding: 43px 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            gap: 5px;
            transition: 1.5s all var(--cubicEasing);

            &.active {
                border-left: 1px solid var(--beige);

                span {
                    background-color: var(--beige);
                }

                &:hover {
                    span {
                        background-color: var(--beige);
                    }
                }
            }

            &:hover {
                cursor: pointer;

                span {
                    background-color: var(--red);
                    width: 32px !important;
                }
            }

            span {
                background-color: var(--black);
                height: 2px;
                transition: 0.3s var(--cubicEasing) all;

                &:nth-child(1) {
                    width: 24px;
                }

                &:nth-child(2) {
                    width: 32px;
                }

                &:nth-child(3) {
                    width: 14px;
                }
            }
        }

        &__container {
            overflow: hidden;
            width: inherit;
            height: 100vh;
            position: absolute;
            top: 0px;
            z-index: 1339;
            left: 0px;
            right: 0px;
            transform: translate(120%, 120%);
            border-top-left-radius: 13337px;
            bottom: 0px;
        }
    }
}