<section class="home content">
    <div class="home__container">
        <div class="home__logo">
            {{> logoRed }}
            <span class="pronunciation">[ɛks'ørd]</span>
        </div>
    </div>
</section>

<section class="content colors">
    <div class="black"></div>
    <div class="gray"></div>
    <div class="red"></div>
</section>