<section class="home content">
    <div class="home__container">
        <div class="home__logo">
            {{> logoRed }}
            <span class="pronunciation">[ɛks'ørd]</span>
        </div>
    </div>
</section>