<nav class="nav">

    

    <h1>
        Design Studio für <br> Brands, Websites und digitale Produkte.
    </h1>

    <div class="menu">
        <div class="menu__burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>