<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Creative Coding Boilerplate</title>

    <script async src="/public/dist/main.js"></script>
    <link rel="stylesheet" href="/public/dist/index.css">
</head>
<body data-barba="wrapper">

    <div class="wrapper">
        <div id="loading">
            <span class="loading__text">
                The details are not the details.<br> They make the design.
            </span>
            <!--<div class="lottie"></div>-->
        </div>
        <div id="pagetransition"></div>

        {{> navbar}}

        <main class="wrapper" data-barba="container">
            {{{body}}}
        </main>

        {{> footer}}
    </div>
    
</body>
</html>